<div
  class="avatar"
  [class.rounded]="rounded"
  [class.online]="online"
  [style.width.px]="size"
  [style.height.px]="size"
  [style.backgroundColor]="(!imageSrc() || imageError()) ? backgroundColor() : null"
>
  @if(imageSrc() && !imageError()) {
    <img
      [src]="imageSrc()"
      [alt]="name || 'avatar'"
      (error)="onImageError()"
    />
  }

  @if(!imageSrc() || imageError()) {
    <span
      class="avatar-text"
      [style.fontSize.px]="size / 2.5"
    >
      {{ displayText() }}
    </span>
  }

  @if(online) {
    <span
      class="status-dot"
      [style.width.px]="size / 4"
      [style.height.px]="size / 4">
    </span>
  }

  <!-- Upload Button -->
  @if(uploadable) {
    <div class="round-wrapper">
      <button
        type="button"
        class="upload-btn z-50 cursor-pointer"
        (click)="triggerFileInput(fileInput)"
        aria-label="Upload avatar">

        <svg
          class="fill-current"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="currentColor"
            d="M12.92 2.3a1.8 1.8 0 0 1 2.54 2.54l-7.53 7.53-3.14.6a.6.6 0 0 1-.7-.7l.6-3.14 7.53-7.53ZM11.65 3.57 5.43 9.8l-.33 1.72 1.72-.33 6.23-6.22-1.4-1.4ZM13.9 4.72l.71-.71a.6.6 0 0 0-.85-.85l-.71.71 1.4 1.4ZM3 15a.75.75 0 0 0 .75.75h10.5a.75.75 0 0 0 0-1.5H3.75A.75.75 0 0 0 3 15Z"
          />
        </svg>
      </button>
    </div>

    <input
      #fileInput
      type="file"
      accept="image/*"
      hidden
      (change)="onFileSelected($event)"
    />
  }

</div>