<div class="min-h-screen xl:flex bg-gray-50 dark:bg-gray-900 dark:text-white">
    <div>
        <app-sidebar [navItems]="navItems"></app-sidebar>
        <app-backdrop></app-backdrop>
    </div>
    <div class="flex-1 transition-all duration-300 ease-in-out" [ngClass]="{
        'xl:ml-72.5': (isExpanded$ | async) || (isHovered$ | async),
        'xl:ml-22.5': !(isExpanded$ | async) && !(isHovered$ | async),
        'ml-0': (isMobileOpen$ | async)
      }">
        <!-- app header start -->
        <app-header (logOut)="onLogout()"></app-header>
        <!-- app header end -->
        <div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>